<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
                <xfers>
                <active>1</active>
                <title>Xfers</title>
                <order_status>1</order_status>
                <payment_action>true</payment_action>
                <model>Community\Xfers\Model\Xfers</model>
                <allowspecific>0</allowspecific>
                <api_url>https://sandbox.xfers.io/api/v2/payments</api_url>
            </xfers>
            <!-- payment-config -->
        </payment>
    </default>
</config>
